Repository stagehacks/Cue-View, pull requests merged in 2024-10, with the labels that each got.

#269 add support for livestream studio
  plugins/livestream-studio/icon.png
  plugins/livestream-studio/img/tbar_bg.png
  plugins/livestream-studio/img/tbar_handle.png
  plugins/livestream-studio/info.html
  plugins/livestream-studio/main.js
  plugins/livestream-studio/styles.css
  plugins/livestream-studio/template.ejs
Labels: enhancement

#274 add arm target to linux build and disable rebuild
  package.json
Labels: enhancement

#273 Add Eos cuelist picker
  plugins/eos/main.js
  plugins/eos/template.ejs
  src/view.js
Labels: plugin

#275 add support for LightFactory
  plugins/lightfactory/icon.png
  plugins/lightfactory/info.html
  plugins/lightfactory/main.js
  plugins/lightfactory/styles.css
  plugins/lightfactory/template.ejs
Labels: enhancement, plugin
